<div>
  <h1>Component Communication</h1>
  <h3>Parent Component</h3>
  Name is :<input type="text" #pname/><br/>
  <input type="button" value="click here"
  (click)="displayName(pname.value)"/>
  
  <br/>
  Name is {{parentName}}
  <br/>
  ProductName :<input type="text" #productName/><br/>
  <input type="button" value="Add Product" (click)="addProduct(productName.value)"/>
  <br/>
  Child Age in parent component template is {{childAge}}
  <br/>
  <input type="button" value="Event Reference" (click)="fun($event)"/><br/>

  <br/>
  <input type="button" value="Call Child2 function" (click)="callChild2Fun()"/>
  Child2 Desg {{childDesg}}<br/>
  <hr/>
  
  <app-child1 [pName]="parentName" (eventRef)="childAge=$event"></app-child1>

  <hr/>

    <app-child2 [productDetails]="products"></app-child2>

  <hr/>

  
</div>