div{
    border: solid 2px red;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

#d1 {
    /*transform: translate(300px,300px);*/
    /*transform: translateX(300px);*/
    transform: translateY(300px);
}
#d2 {
    /* transform: rotateX(180deg);*/
    /* transform: rotateY(120deg); */
    transform: rotate(20deg)
}
#d3 {
    /*transform: scaleX(2);*/
    transform: scaleY(3);
}
#d4{
    transform: skewX(50deg);
}
