<div>
    <form #empRef="ngForm" (ngSubmit)="storeRec(empRef.value)">
        <label>Id</label>
        <input type="text" name="id" ngModel/><br/>
        <label>Name</label>
        <input type="text" name="name" ngModel/><br/>
        <label>Salary</label>
        <input type="text" name="salary" ngModel/><br/>
        <label>Gender</label>
        <input type="radio" name="gender" value="male" ngModel/>Male
        <input type="radio" name="gender" value = "female" ngModel/>FeMale
        <br/>
        <input type="submit" value="Store Rec"/>
    </form>
    <hr/>
    Date Details : {{dd | date :'long'}}
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Gender</th>
            <td>employee object</td>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.name | uppercase | genderPipe : emp.gender}}</td>
            <td>{{emp.salary | currency:'Rs'}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp | json}}</td>
        </tr>
    </table>
</div>