<div>
    <button>Click Here</button><br/>
    <button mat-button>Mat Basic Button</button><br/>
    <button mat-button color="primary">Mat with primary button </button><br/>
    <button mat-button color="warn">Mat with warn button </button><br/>
    <button mat-button style="color: aqua;">Mat with warn button </button>
    <hr/>
    <button mat-raised-button>Mat Basic Button</button><br/>
    <button mat-raised-button color="primary">Mat with primary button </button><br/>
    <button mat-raised-button color="warn">Mat with warn button </button><br/>
    <button mat-raised-button style="background-color: blueviolet;color: white;">Mat with warn button </button>
    <br/>
    <button mat-fab>Mat Basic Button</button><br/>
    <button mat-fab color="primary">Mat with primary button </button><br/>
    <button mat-fab color="warn">Mat with warn button </button><br/>
    <button mat-fab style="background-color: blueviolet;color: white;">Mat with warn button </button>
</div>